body {
  margin: 0em 2em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  padding: 0.2em 0.5em;
  color: black;
  background-color: #C1AEC9;
  font-weight:900;
  font-size: xx-large;
}

h2 {
  padding: 0.2em 0.5em;
  border: thin solid silver;
  color: white;
  background-color: #653579;
  font-weight:900;
  font-size: x-large;
}

p {
  line-height: 1.3em;
  padding: 0em 1em;
}

.readme {
  padding: 2em;
  margin: 2em;
  border: thin solid black;
}
